nav a {
    font-size: 17px;
    color: white;
    padding: 10px 20px 10px 20px;
    border: 1px solid black;
    font-weight: bold;
    background-color: burlywood;
    cursor: pointer;
}

nav a:hover {
    background-color: cornflowerblue;
}